body {
  background-image: url(assets/liege.jpg);
  background-size: cover;
  animation: 0.5s blurin;
}
/* select the parent element with :has*/
body:has(form:hover) {
    background-image: url(assets/background.jpg);
    transition: linear;
    animation: 1s blurout;
}
@keyframes blurout {
    0% {
        filter: blur(8px);
    }
    50%{
        filter: blur(4px);
    }
    100%{
        filter: blur(0px);
    }
}
@keyframes blurin {
    0% {
        filter: blur(0px);
    }
    50%{
        filter: blur(4px);
    }
    100%{
        filter: blur(1px);
    }
}
form {
  margin-top: 110px;
  margin-bottom: 20px;
  text-align: center;
  display: grid;
  margin-left: 440px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 450px;
  padding: 100px;
  padding-top: 10px;
  background-color: black;
  opacity: 0.7;
  color: whitesmoke;
  filter: drop-shadow(10px 10px 10px #000);
  box-shadow: 40px 40px 40px rgb(68, 66, 66);
  transition: 1s linear;
  transform: skew(10deg, -9deg);
  background-size: cover;
  
  /* height: 50px; */
/* transition: height 1s ease 0s; */
}
form:hover~#pin{
    width: 400px;
    transform: translateX(500px);
    opacity: 0.1;
   

    
}

  
#pin{
    position: absolute;
    transform: rotate(10deg);
    z-index: 99;
    width: 120px;
    left: 690px;
    top: 50px;
    transition: 0.7s linear;
    
}
form:has(#reset:hover):not(#reset) {
  filter: blur(1px);
  opacity: 0.2;
  outline: none;
  border: transparent;
}

input[type="radio"] {
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
  accent-color: greenyellow;
  transition: 1s linear;
}

#between,
#minimum2one,
#minimum2two,
#minimum4,
#minimum6,
#identical,
#country {
  font-size: 15px;
  background-color: brown;
  color: aliceblue;
  display: none;
}

label {
  font-size: 20px;
  font-weight: 600;
}
label:hover {
  color: greenyellow;
  text-shadow: 2px 2px 2px green;
}
input:hover {
  background-color: greenyellow;
  border-radius: 5px;
}
.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-backward:hover,
.hvr-backward:focus,
.hvr-backward:active {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}
input {
  height: 35px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 20px;
}
select,
option {
  height: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
#gender {
  margin-bottom: 15px;
}

#genderBox {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin-left: 170px;
}
.green {
  border: 5px solid greenyellow;
}
.red {
  border: 5px solid rgb(234, 7, 105);
}

#submit {
  background-color: greenyellow;
  padding: 10px;
  padding-bottom: 40px;
  outline: none;
  font-size: 20px;
  margin-top: 30px;
  font-weight: 900;
}
#submit:hover {
  border-radius: 10px;
  background-color: #138808;
  color: aliceblue;
}

h1 {
  color: white;
  animation: 0.5s alternate;
}
h1:hover {
  animation: color 1s alternate;
}
@keyframes color {
  0% {
    color: white;
  }
  50% {
    transform: translateX(10%);
    -webkit-text-fill-color: yellowgreen;
  }
}

form:hover{
    filter: drop-shadow(1px 21px 13px #398218);
    opacity: 0.8;
    transform: scale(101%);
    background-image: none;
    /* transform: skew(10deg, -9deg); */
    transform: rotate(1deg);
    overflow-y: scroll;
    height: 600px;
    border: 3px solid gray;
    border-right: none;
    box-shadow: 40px 40px 40px rgb(0, 0, 0);
   
}
form::-webkit-scrollbar{
    background-color: transparent;
}
form::-webkit-scrollbar-thumb{
    background-color: #138808;
    border-radius: 10px;
}

form:hover body{
    background-image: url(assets/background.jpg);
}
#reset {
  background-color: greenyellow;
  padding: 10px;
  outline: none;
  font-size: 20px;
  width: 200px;
  border-radius: 10px;
  margin-left: 130px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px greenyellow;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    greenyellow 80%
  );
  background: radial-gradient(
    ellipse at center,
    green 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
#newsletter {
  display: flex;
  justify-content: space-between;
 
}

#newsletter > input {
  width: 30px;
  accent-color: greenyellow;
  /* checkbox color change */
}

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover,
.hvr-buzz:focus,
.hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

label {
  margin-top: 30px;
}
input {
  margin-top: 30px;
}
#countryLabel {
  margin-bottom: 30px;
}

fieldset {
  margin-top: 30px;
  padding-bottom: 25px;
 
}
fieldset:hover {
  background-color: #1b4d3e;
  color: chartreuse;
  text-shadow: 2px 2px 2px green;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  /* overflow: hidden; */
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: yellowgreen;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* @media screen {
    
} */
