@charset "utf-8";
/* *******************************************************
 * filename : member.css
 * description : 濡쒓렇��,�뚯썝媛���,�뚯썝�뺣낫 �섏젙�� �뚯썝硫붾돱�� 愿��⑤맂  CSS
 * date : 2018-01-03
******************************************************** */

/* ******************   怨듯넻  ********************** */
/* 怨듯넻 :: �곷떒 吏꾪뻾怨쇱젙 諛� */
.join-process-bar-con > ol{overflow:hidden;  margin:50px auto; text-align:center;}
.join-process-bar-con > ol > li{display:inline-block; padding-left:80px; overflow:hidden; text-align:center; letter-spacing: -0.5px; background:url(/images/board/process_arrow.png) no-repeat 0 50%}
.join-process-bar-con > ol > li:first-child{background:none;}
.join-process-bar-con > ol > li .process-icon{float:left; width:48px; height:48px; color:#fff; background-color:#ccc; -webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%;}
.join-process-bar-con > ol > li.current .process-icon{background-color:#424446}
.join-process-bar-con > ol > li .process-icon i{font-size:24px; line-height:48px; }
.join-process-bar-con > ol > li dl{float:left; width:120px; padding-left:15px; text-align:left; padding-top:5px;}
.join-process-bar-con > ol > li dl dt{height:20px; font-size:13px; color:#888;}
.join-process-bar-con > ol > li dl dd{height:28px; font-size:17px; color:#333;}


/* 怨듯넻 :: �뚯썝�� �덉씠�꾩썐 */
.member-con-inner{padding:60px 0;border:1px solid #ddd; }
.member-search-con-inner{padding:75px 0; border:1px solid #ddd; border-top:0;}
.member-form-con{width:96%; max-width:620px; margin:0px auto;}	/* 媛�濡쒓컪 �ㅼ젙 */
.member-form-con-txt{padding-bottom:50px; text-align:center; }
.member-form-con-txt strong{display:block; font-size:24px; color:#333; font-weight:500;}
.member-form-con-txt b{font-weight:600; color:#000;}
.member-form-con-txt p{color:#666; font-size:14px; line-height:22px;}
.member-form-con-txt p:before{display:block; content:""; width:30px; height:2px; background-color:#ccc; margin:20px auto;}
.form-tit{display:block; color:#464646; font-size:20px; letter-spacing:-0.3px; font-weight:500; margin-bottom:15px;}
.form-list li{overflow:hidden; margin-top:-1px;}
.form-list li:first-child{margin-top:0;}
.form-list li label{line-height: 30px; color:#222; font-size:13px; letter-spacing:-0.5px;}
.form-input-box{float:left; width:80%;}
.form-input{
    position:relative; width:100%; box-sizing:border-box; background:none; border:0px;  color:#707070; font-size:14px; border:1px solid #ddd; letter-spacing:-0.3px; font-weight:400; height:50px; text-indent:10px; color:#aaa;
    -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s
}
.form-select{
   width:30%; background:none; border:0px;  color:#707070; font-size:15px; border:1px solid #ddd; letter-spacing:-0.3px; font-weight:400; height:50px; color:#aaa;
    -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s
}
.form-input:focus,.form-select:focus{color:#333; border-color:#000; z-index:1;}

/* 怨듯넻 :: �뚯썝愿��� ::  �� */
.member-tab-con-inner{border-top:0px;}
.member-tab-list-con ul{overflow:hidden; }
.member-tab-list-con ul li{float:left; width:50%; position:relative; }
.member-tab-list-con ul li:first-child{margin-left:0;}
.member-tab-list-con ul li a{display:block; height:60px; line-height:60px; text-align:center; border:1px solid #ddd; border-bottom:1px solid #3a4050; color:#686767;  font-size:18px; letter-spacing:-0.5px;}
.member-tab-list-con ul li.selected{z-index:1;}
.member-tab-list-con ul li.selected a{height:61px; border-color:#3a4050; color:#3a4050; border-bottom:0; font-weight:600}

/* ******************   LOGIN  ********************** */
/* LOGIN :: �꾩씠肄섎줈洹몄씤 */
.form-list-icon{text-align:left; margin-bottom:20px;}
.form-list-icon > li{border:1px solid #ddd; background-color:#fff; padding:0px 10px; margin-top:10px;}
.form-list-icon > li:first-child{margin-top:0;}
.form-list-icon > li .login-input{height:54px; width:80%; width:calc(100% - 50px);  background:none; border:0; color:#aaa; font-size:14px;}
.form-list-icon > li .login-input:focus{color:#333;}
.form-list-icon > li i{vertical-align:middle; color:#888; width:35px;}
/*  LOGIN :: �꾩씠�붿��� 諛� �섎떒�곸뿭 */
.id-save-btn{text-align:right; color:#333;font-size:15px; letter-spacing:-0.3px;  margin-top:30px; }
.id-save-btn input[type="checkbox"]{vertical-align:middle;}
.form-box-list{height:50px; line-height:50px; text-align:center; border:1px solid #ddd; -webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px; border-radius:3px;}
.form-box-list a{color:#464646; font-size:15px; letter-spacing:-0.3px;}
.form-box-list a:first-child{margin-left:-10px;}
.form-box-list a:before{display:inline-block; content:""; background-color:#ddd; width:1px; height:15px; vertical-align:middle; margin:-2px 20px 0 20px;}
.form-box-list a:first-child:before{display:none;}
.form-box-list a:hover{color:#000}

/* ******************   LOGIN ::  SNS/SHOP  ********************** */
/* LOGIN :: SNS LOGIN */
.member-con-inner-sns{overflow:hidden;padding:75px 40px; border:1px solid #ddd; }
.member-con-inner-sns .member-form-con{display:inline-block; width:44%; vertical-align:middle;  padding-left:20px; }
.member-con-inner-sns .member-form-con:first-child{display:inline-block; width:50%; vertical-align:middle; border-right:1px solid #ddd; padding-right:20px; padding-left:0;}
.member-con-inner-sns .member-form-sub-txt{font-size:13px; line-height:20px; color:#333;}
.member-con-inner-sns .member-form-con .sns-login-list {padding-top:15px;}
.member-con-inner-sns .member-form-con .sns-login-list li{overflow:hidden; position:relative; padding-top:10px; -webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.member-con-inner-sns .member-form-con .sns-login-list li:first-child{padding-top:0;}
.member-con-inner-sns .member-form-con .sns-login-list li a,
.member-con-inner-sns .member-form-con .sns-login-list li button{display:block; width:100%; height:50px; background-color:#888; color:#fff; font-size:16px; text-align:left; text-indent:70px; }
.member-con-inner-sns .member-form-con .sns-login-list .sns-icon{position:absolute; width:50px; height:50px; border-right:1px solid rgba(255,255,255,0.5); text-align:center; line-height:50px;}
/* LOGIN :: SHOP LOGIN */
.member-con-inner-shop{overflow:hidden;padding:75px 40px; border:1px solid #ddd; }
.member-con-inner-shop .member-form-con{display:inline-block; vertical-align:middle; width:44%; padding-left:20px;}	/* �ㅻⅨ履쎌쁺�� */
.member-con-inner-shop .member-form-con:first-child{width:51.5%; border-right:1px solid #ddd; padding-right:20px; padding-left:0;}	/* �쇱そ�곸뿭 */ 
.member-con-inner-shop .member-form-con .cm-btn-controls{padding-top:10px;}
.member-con-inner-shop .member-form-nonmember{overflow:hidden; border-top:1px solid #ddd; padding-top:25px; margin-top:25px;}
.member-con-inner-shop .member-form-nonmember-con{position:relative; float:left; width:50%; padding:15px; box-sizing:border-box; }
.member-con-inner-shop .member-form-nonmember-con:first-child{padding-left:0;}
.member-con-inner-shop .member-form-nonmember-con:last-child{padding-right:0;}
.member-con-inner-shop .member-form-nonmember-con:last-child:before{display:inline-block; content:""; width:1px; height:100%; position:absolute;  top:0px; left:-1px; background-color:#ddd;}
.member-con-inner-shop .member-form-sub-txt{font-size:13px; line-height:20px; color:#333; word-break:keep-all;}

/* ******************  �꾩씠��, 鍮꾨쾲 李얘린  ********************** */
/* --------  -------- */
/* �꾩씠�� 李얘린 :: 寃곌낵 */
.id-check-inner .customer-id{color:#969696; font-size:18px; padding:50px 0; border-top:1px solid #ddd; border-bottom:1px solid #ddd; line-height:30px; text-align:center;}
.id-check-inner .customer-id strong{color:#343434; font-weight:600;}

/* ******************  JOIN  ********************** */
/* -------- JOIN 01 -------- */
.join-step-con{padding-bottom:50px;}
.join-step-con .join-tit{color:#464646; font-size:20px; letter-spacing:-0.3px; font-weight:500; padding-bottom:15px;}
.join-agreement-con{border:1px solid #ddd; height:150px; overflow-x:hidden; overflow-y:auto; padding:20px 10px; background-color:#f2f2f2;}
.agree-txt{padding-top:10px; font-size:13px; letter-spacing:-0.3px; color:#868686;}
 
/* -------- JOIN 02 / MODIFY -------- */
.join-form-con{position:relative; border-top:1px solid #464646;}
.essential-txt{position:absolute; top:-30px; right:0px; color:#464646; font-size:13px; letter-spacing:-0.3px;}
.essential-icon{color:#cf0505; margin-right:3px; vertical-align:middle;}
/* JOIN :: 湲곕낯 */
.join-form-tbl{width:100%;}
.join-form-tbl th,.join-form-tbl td{padding:10px 15px; border-bottom:1px solid #ddd;}
.join-form-tbl th{text-align:left; color:#666; font-weight:500; font-size:14px; line-height:20px; word-break:keep-all;}
.join-form-tbl .input-basic,
.join-form-tbl .select-basic{
	height:34px; border:0px; width:50%; max-width:160px; background-color:#fff; border:1px solid #d2d2d2; font-size:14px; vertical-align:middle;
}
.join-form-tbl .input-basic{text-indent:10px;}
.join-form-tbl .width100{max-width:none;}
.join-form-tbl .input-basic:focus{border-color:#333;}
.join-form-tbl .select-basic{height:38px;}
.join-form-tbl .join-sub-btn{display:inline-block; min-width:114px; padding:0 10px; height:38px; border:1px solid #464646; vertical-align:middle; text-align:center; color:#464646; font-size:14px; font-weight:400; margin-left:10px;}
.join-form-tbl .join-sub-btn:hover{background-color:#464646; color:#fff;}
.join-form-tbl .join-sub-txt{display:inline-block; margin-left:10px; color:#828282; font-weight:400; font-size:11px; font-family:"�뗭�",dotum,sans-serif; letter-spacing:-0.5px;}
.join-form-tbl .join-sub-txt2{display:block; margin-top:5px; color:#828282; font-weight:400; font-size:11px; font-family:"�뗭�",dotum,sans-serif; letter-spacing:-0.5px;}
.join-form-tbl .font-ok{color:#0095ff; font-weight:400;}
.join-form-tbl .font-caution{color:#ff3800; font-weight:400;}
.join-form-tbl .hypen{margin:0 5px;}
/* JOIN :: 異붽��ㅽ��� */
.birth-input .select-basic, .tel-input .input-basic, .tel-input .select-basic{max-width:100px}
.birth-input br{display:none;}
.email-input .input-basic, .email-input .select-basic{margin-bottom:3px;}
.address-input .input-basic{margin-top:6px;}
.address-input .input-basic:first-child{margin-top:0;}
.join-form-tbl fieldset{padding:8px 0;}
.join-form-tbl .email-input, .join-form-tbl .birth-input, .join-form-tbl .address-input, .join-form-tbl .tel-input{padding:0;} 
.join-form-tbl label,.join-form-tbl input[type="checkbox"],.join-form-tbl input[type="radio"]{vertical-align:bottom;}
.join-form-tbl .read-only-data{padding:10px 0; font-size:15px; color:#333;}

/* -------- JOIN FINISH  -------- */
/* JOIN FINISH :: 01 */
.join-finish-con{width:90%; margin:0px auto; max-width:570px; }
.join-finish-icon{display:block; width:120px; height:120px; text-align:center; background-color:#ccc; color:#fff; margin:30px auto; -webkit-border-radius:100em;-moz-border-radius:100em;-o-border-radius:100em;border-radius:100em;}
.join-finish-icon i{margin-top:24px; font-size:70px;}
.join-finish-txt{text-align:center; line-height:1.6em; font-size:18px; color:#333;}
.join-finish-txt strong{font-weight:600;}
/* JOIN FINISH :: 02 */
.join-finish-tit-con{height:80px; border-bottom:1px solid #ddd;  text-align:center;  letter-spacing:-0.3px; margin-bottom:40px;}
.join-finish-tit{font-weight:400; color:#5e5e5e; font-size:24px; }
.join-finish-tit strong{color:#333; font-weight:600;}
.join-finish-sub-tit{padding-top:10px; color:#9b9b9b; font-size:18px; font-weight:400; line-height:24px;}
.join-finish-sub-tit b{color:#000; font-weight:500; }
.join-finish-member-info{overflow:hidden; padding:0 2% 20px 2%;}
.join-finish-member-info .member-info-left-icon{float:left; width:30%; max-width:178px;}
.join-finish-member-info .member-info-left-icon i{display:block; width:120px; height:120px; line-height:110px; font-size:70px; vertical-align:top; text-align:center; background-color:#8c98aa; color:#fff; }
.member-info-right-con{float:left; width:70%; padding-top:8px;}
.member-info-right-con dl{overflow:hidden;}
.member-info-right-con dl dt, .member-info-right-con dl dd{float:left; letter-spacing:-0.3px; padding:10px 0;}
.member-info-right-con dl dt{width:30%; color:#686767; font-size:15px; }
.member-info-right-con dl dt i{font-size:16px; color:#ccc; margin-right:3px; }
.member-info-right-con dl dd{width:70%; color:#838383; font-size:14px;}
.member-info-right-con dl .member-divine{display:inline-block; vertical-align:middle; color:#fff; padding:5px 10px; font-size:13px; background-color:#6b6b6b; margin-left:5px; margin-top:-3px;}
